services:
  evb_project.api:
    container_name: evb_project.api
    build:
      context: .
      dockerfile: EVB_Project.API/Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: >
        Host=dpg-d45ednumcj7s738us1a0-a.singapore-postgres.render.com;
        Port=5432;
        Database=evb_postgres_t8pe;
        Username=evb_postgres_t8pe_user;
        Password=d7uOzJH0DXciRNUgKBLNcFcdCjuivflw;
        SSL Mode=Require;
        Trust Server Certificate=true;
        Pooling=true;
        Maximum Pool Size=20;
        Timeout=15;
        Command Timeout=30;
        KeepAlive=30
    networks:
      - appnet

networks:
  appnet:

volumes:
  evb_db_data: